<div class="hero-unit">
  <h1>Roles</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Permissions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% roles.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <td><%= r.description %></td>
          <td>
            <% r.permissions.collect{ |p| [p.name]}.each do |p| %>
              <%= p[0] + ", "
            <% end %>
          </td>
          <td>
            <div class="actions">
              <div class="btn">
                TODO
                <%= link_to 'Edit', user_edit_path(u) %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
