.hero-unit
  %h1 Users

  %table
    %thead
      %tr
        %th Email
        %th Real Name
        %th Role
        %th Actions
    %tbody
      - @users.each do |u|
        %tr
          %td= u.email
          %td= u.full_name
          - if u.role
            %td= u.role.name
          - else
            %td None
          %td
            .actions
              .btn
                -# TODO
                -# = link_to 'Edit', user_edit_path(u)
