.hero-unit
  %h1 Users

  %table
    %thead
      %tr
        %th Email
        %th Real Name
        %th Role
        %th Permissions
        %th Actions
    %tbody
      - @users.each do |u|
        %tr
          %td= u.email
          %td= u.full_name
          %td= u.role.name
          %td= u.permissions.to_s
          %td
            .actions
              .btn
                -# TODO
                -# = link_to 'Edit', user_edit_path(u)
