<div class="hero-unit">
  <h1>Administration</h1>
  <div class="actions">
    <clearfix>
      <div class="btn"><%= link_to 'Users', admin_users_path %></div>
      <div class="btn"><%= link_to 'Roles', admin_roles_path %></div>
      <div class="btn"><%= link_to 'Site Settings', admin_settings_path %></div>
      <div class="btn"><%= link_to 'Tool Categories', tool_categories_path %></div>
    </clearfix>
  </div>
</div>
