.hero-unit
    %h1= "Administration"

    .actions
        %clearfix
            .btn
                = link_to 'Users', '/administration/users'
            .btn
                = link_to 'Roles', '/admin/roles'
            .btn
                = link_to 'Configuration', '/administration/configuration'

