.hero-unit
  .pull-right= image_tag 'logo.png'

  %h1 HeatSync Labs

  %p Hackerspace Management

  - unless user_signed_in?
    %br/
    %p #{ link_to 'Login', new_user_session_path } or #{ link_to 'sign up', new_user_registration_path } to get started!