<div class="hero-unit">
  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Real Name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.email %></td>
          <td><%= u.full_name %></td>
          <% if u.role %>
            <td><%= u.role.name %></td>
          <% else %>
            <td>None</td>
          <% end %>
          <td>
            <div class="actions">
              <div class="btn">
                TODO
                <%= link_to 'Edit', edit_user_registration_path(u) %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
